@import '../../styles/variable.css';

.CharacterList {
  display: grid;
  grid-template-columns: 1fr 5fr;
  transition: 0.2s;

  img {
    width: 10rem;
  }
}

.CharacterList-light {
  composes: CharacterList;

  background-color: var(--light-bg-color);
  color: var(--light-fg-color);
}

.CharacterList-dark {
  composes: CharacterList;

  background-color: var(--dark-bg-color);
  color: var(--dark-fg-color);
}
